* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div#tela {
  width: 100%;
  height: 500px;
  background: linear-gradient(#87ceeb, #e0f6ff);
  border-bottom: green 30px solid;
  position: relative;
  overflow: hidden;
}

img.cano {
  position: absolute;
  bottom: 0;
  width: 40px;
  animation: animaCano 1s infinite linear;
}

@keyframes animaCano {
  from { right: -40px; }
  to { right: 100%; }
}

img.mario {
  position: absolute;
  bottom: 0;
  width: 75px;
}

.pulo {
  animation: animaMario 500ms;
}

@keyframes animaMario {
  0% { bottom: 0; }
  50% { bottom: 180px; }
  100% { bottom: 0; }
}

img.nuvens {
  position: absolute;
  top: 25px;
  width: 275px;
  animation: animaNuvens 20s infinite linear;
}

@keyframes animaNuvens {
  from { right: -275px; }
  to { right: 100%; }
}

img.gameover {
  position: absolute;
  left: 10%;
  bottom: 50%;
  width: 80%;
  visibility: hidden;
}

img.cima {
  position: absolute;
  right: 10px;
  width: 100px;
}

img.reset {
  position: absolute;
  left: 10px;
  width: 100px;
}